// 命名规范 BEM规范 参考了element-plus 
// https://github.com/element-plus/element-plus/blob/dev/packages/theme-chalk/src/mixins/config.scss
$namespace: 'm' !default;
$common-separator:'-' !default;
$element-separator:'__' !default;
$modifier-separator:'--' !default;
$state-prefix: 'is-' !default;